<%= render "layouts/carousel"%>
<!-- News Container -->
   <div class="newscont container-fluid" style="margin-top: -2%; width: 90%; box-shadow: -7px 6px 8px #888888;">
      <div>Container for news</div>
   </div>