<!-- Carousel -->
   <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: -4%; z-index:-1;">
      <!-- Indicators -->
      <ol class="carousel-indicators">
         <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
         <li data-target="#myCarousel" data-slide-to="1"></li>
         <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" style="height:570px;">
         <div class="item active" style="height:100%">
            <%= image_tag "Banner1" %>
         </div>
         <div class="item" style="height:100%">
            <%= image_tag "Banner2" %>
         </div>
         <div class="item" style="height:100%">
            <%= image_tag "Banner3" %>
         </div>
      </div>
   </div>
   <!-- Carousel Controls -->
   <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="margin-top: 5%; margin-bottom: 30px;">
      <i class="fa fa-chevron-left" aria-hidden="true" style="position: absolute; top: 250px;"></i>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next" style="margin-top: 5%; margin-bottom: 30px;">
      <i class="fa fa-chevron-right" aria-hidden="true" style="position: absolute; top: 250px;"></i>
    </a>